.App {
  text-align: center;
}

.container {
  display: flex;
  height: 100%;
}

.red-container {
  background-color: #FFA9A9;
  min-height: 100vh;
  flex: 0 1 60vh;
  height: 100vh;
}

#party {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.pokemon-list {
  border: 5px dashed #FF6962;
  width: 365px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF6962;
  font-size: 48px;
  border-radius: 5px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Flexo", arial, sans-serif;
  padding-top: 3px;
}

.search {
  margin-top: 40px;
  margin-left: 40px;
  width: 15rem;
  font-family: "Flexo", arial, sans-serif;
  padding: 13px 10px 10px 10px;
  border-radius: 5px;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  color: white;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.search::placeholder {
  color: white;
}

.search-results {
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 80vh;
  padding-right: 40px;
  border-right: 1px solid rgba(0, 0, 0, 0.195);
}

.search-results-item:first-child {
  margin-top: 1rem;
}

.search-results-item {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  font-weight: 500;
  font-size: .8rem;
  color: white;
  list-style: none;
  padding-left: 0;
  border-radius: 5px;
  width: 15rem;
  height: 42px;
  cursor: pointer;
  margin-bottom: 1rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.icon {
  height: 60px;
  width: 60px;
}

.pokemon-result {
  padding-top: 3px;
  font-family: "Flexo", arial, sans-serif;
}

.model {
  width: 50rem;
  height: 50rem;
  /* margin-left: 22rem; */

}

.model-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 0 40px;
}

.model-name {
  font-size: 3rem;
  font-family: "Flexo", arial, sans-serif;
  padding-top: 3px;
  color: #212121;
}

.model-id {
  color: #616161;
}

.blue-container {
  background-color: #DAF0F7;
  min-height: 100vh;
  display: flex;
  flex: 1 1 40vh;
  flex-direction: column;
  justify-content: center;
}

.display-container {
  display: flex;
  margin: 1rem;
}