.App {
  text-align: center;
}

.container{
  display: flex;
  height: 100%;
}

.red-container{
  background-color: #FFA9A9;
  min-height: 100vh;
  flex: 0 1 60vh;
}

#party{
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

li{
  border: 5px dashed #FF6962;
  width: 365px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF6962;
  font-size: 48px;
  border-radius: 5px;
}

.blue-container{
  background-color: #DAF0F7;
  min-height: 100vh;
  display: flex;
  flex: 1 1 40vh;
  flex-direction: column;
  justify-content: center;
}  

#temp{
  position: absolute;
}