body {
  font-family: "Flexo", arial, sans-serif;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  height: 100%;
}

.red-container {
  background-color: #FFA9A9;
  min-height: 100vh;
  flex: 0 1 60vh;
  height: 100vh;
}

#party {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.pokemon-list {
  border: 5px dashed #FF6962;
  width: 365px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF6962;
  font-size: 48px;
  border-radius: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

.search {
  margin-top: 40px;
  margin-left: 40px;
  width: 15rem;
}

.search-results {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 15rem;
  height: 80vh;
  /* flex: 0 1 60vh; */
  padding-right: 40px;
}

.search-results-item:first-child {
  margin-top: 1rem;
}

.search-results-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px #a2a2a2;
  font-weight: 500;
  font-size: .8rem;
  color: white;
  list-style: none;
  padding-left: 0;
  border-radius: 5px;
  width: 15rem;
  height: 42px;
  cursor: pointer;
}

.icon {
  height: 60px;
  width: 60px;
}

.pokemon-result {
  /* padding: 0 1rem; */
}

.model {
  width: 50rem;
  height: 50rem;
  /* margin-left: 22rem; */

}

.model-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  /* flex: 0 1 40vh; */
  padding: 0 40px;
}

.model-name {
  /* color: white; */
  font-size: 3rem;
}

.blue-container {
  background-color: #DAF0F7;
  min-height: 100vh;
  display: flex;
  flex: 1 1 40vh;
  flex-direction: column;
  justify-content: center;
}

.idk {
  display: flex;
  border: 1px solid white;
  margin: 1rem;
}

#temp {
  position: absolute;
}